<div class="rates-table-container">
  <table class="rates-table">
    <tbody class="rates-table__tbody">
      <ng-container *ngFor="let group of mockData.grupos; let isFirstGroup = first; let isLastGroup = last">

        <tr
          class="rates-table__tr rates-table__tr--group-header"
          [class.rates-table__tr--subsequent-header]="!isFirstGroup"
        >
          <th class="rates-table__th rates-table__th--group-title">{{ group.titulo }}</th>
          <th
            *ngFor="let level of displayedLevels; let i = index"
            class="rates-table__th rates-table__th--level"
            [class.rates-table__cell--active-text]="(i + 1) === mockData.nivelAtual"
            [class.rates-table__cell--active-top]="(i + 1) === mockData.nivelAtual && isFirstGroup"
            [class.rates-table__cell--active-middle]="(i + 1) === mockData.nivelAtual && !isFirstGroup"
          >

            <span
              *ngIf="(i + 1) === mockData.nivelAtual && isFirstGroup"
              class="rates-table__active-badge"
            >Nível atual</span>
            Nível {{ i + 1 }}
          </th>
        </tr>

        <tr
          *ngFor="let taxa of group.taxas; let isLastTaxa = last"
          class="rates-table__tr rates-table__tr--data"
          [class.rates-table__tr--group-last-data]="isLastTaxa && !isLastGroup"
        >
          <td class="rates-table__td rates-table__td--method-title">{{ taxa.metodo }}</td>
          <td
            *ngFor="let nivel of taxa.niveis; let j = index"
            class="rates-table__td rates-table__td--data-cell"
            [class.rates-table__cell--active-middle]="(j + 1) === mockData.nivelAtual && !(isLastGroup && isLastTaxa)"
            [class.rates-table__cell--active-bottom]="(j + 1) === mockData.nivelAtual && isLastGroup && isLastTaxa"
          >
            {{ nivel }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
